html, body {
  background-color: #2d2828;  
  margin: 0;
  padding: 0;
  color: black;
}

button{
    color: black;
    background-color: rgb(196, 232, 193);
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    transition: 0.5s;
    padding: 8px;
} 

a:hover{
    color: rgb(86, 7, 7);
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}